name: Gradle Spring Boot Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK and Gradle
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "adopt"
      - name: Run tests
        run: ./gradlew test
      - name: Build jar
        if: success()
        run: ./gradlew bootJar
      - name: Get Coverage
        uses: codecov/codecov-action@v3.1.1
      - name: Configure AWS Credentials
        if: success()
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: "eu-north-1"
      - name: Upload to S3 Bucket
        if: success()
        run: aws s3 cp build/libs/DeveloperJokesApp-0.0.1-SNAPSHOT.jar s3://elasticbeanstalk-eu-north-1-727221033908/
      - name: Create new ElasticBeanstalk Application Version
        run: |
          aws elasticbeanstalk create-application-version \
          --application-name DeveloperJokes \
          --source-bundle S3Bucket="elasticbeanstalk-eu-north-1-727221033908",S3Key="DeveloperJokesApp-0.0.1-SNAPSHOT.jar" \
          --version-label "ver-${{ github.sha }}" \
          --description "commit-sha-${{ github.sha }}"
      - name: Deploy to Elastic Beanstalk
        if: success()
        run: aws elasticbeanstalk update-environment --environment-name Developerjokes-env --version-label "ver-${{ github.sha }}"
